<%= form_with(model: @note, local: true, class: "card p-4 shadow") do |form| %>
  <% if @note.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h4>
      <ul>
        <% @note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter the title" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control", rows: 5, placeholder: "Enter the content" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>