<h1 class="text-center">STICKY NOTES APPLICATION</h1>

<%= link_to "Create Note", new_note_path, class: "create-note-button" %>

<div class="container mt-6">
  <div class="row g-3 justify-content-left">
    <% @notes.each do |note| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card sticky-note <%= note_color(note.id) %>">
          <div class="card-body position-relative">
            <h5 class="card-title"><%= truncate(note.title, length: 10) %></h5>
            <p class="card-text"><%= truncate(note.content, length: 20) %></p>
            <div class="card-actions">
              <%= link_to "", note_path(note), class: "bi bi-aspect-ratio", data: { bs_toggle: "tooltip", bs_placement: "right", title: "See Note" } %>
              <%= link_to "", edit_note_path(note), class: "bi bi-pencil-square", data: { bs_toggle: "tooltip", bs_placement: "right", title: "Edit Note" } %>
              <%= link_to "", note_path(note), method: :delete, class: "bi bi-trash", data: { confirm: "Confirm delete?" } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>